
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<script src="vue.js"></script>
	<title>Jeremy Clemans</title>
</head>
<body>
	<div id="intro">
		<h1>{{ title }}</h1>
		<!-- <img src=""> -->
		<div>{{ intro }}</div>
		<p>{{ bio }}</p>
	</div>

	<div id="work">
		<h2>Work History</h2>
		<div v-for="company in companies">
			<div>
				<h3>{{ company.name}}</h3>
				<h4>{{ company.title}} {{company.years}}</h4>
				<p>{{ company.description}}</p>
			</div>
		</div>
	</div>

	<div id="personal">
		<h2>Personal Interests and Hobbies</h2>
		<ul>
			<li v-for="interest in interests">{{ interest.text }}</li>
		</ul>

		<h2>Countries I have visited</h2>
		<ul>
			<li v-for="country in countries">{{ country }}</li>
		</ul>
	</div>
	<script src="app.js"></script>
</body>
</html>