body {
	font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.58;
    letter-spacing: -.003em;
    padding: 0 20% 0 20%;
}
#portrait {
	max-width: 80%;
}
#email {
	float: right;
	font-size: 14px;
	line-height: 3em;
	padding-right: 10px;
}
#player {
	max-width: 100%;
}
.contact {
	font-size: 0.8em;
}
.date {
	font-style: italic;
	font-size: 0.8em;
}
p.subtitle {
	margin-top: 0;
}
.title	a {
	font-size: 2em;
	text-decoration: none;
	padding-right: 1rem;
}
.nav-links	a {
	text-decoration: none;
	font-style: monospace;
	padding: 1rem;
}
.site a {
	color: green;
}

pre {
	background-color: #000;
	color: #fff;
	font-size: 0.6em;
	padding-left: 1em;
}